

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contanier{
  margin: 0px;
  padding: 0px;
 font-family: cursive;
}
.header{
    width:100%;
    height:850px;
    background-color: #272727;
}

.header_icon1{
  width: 100%;
  height: 270px;
  margin: 0 auto;
  text-align: center;
}

.header_h1{
  text-align: center;
  font-size: 80px;
  margin: 0 auto;
  text-align: center;
}
.header_h2{
  text-align: center;
  font-size: 20px;
  width: 400px;
  height: 220px;
  margin: 0 auto;


}
.header_icon2{
  width: 100%;
  height: 125px;
  margin: 0 auto;
  text-align: center;

}

.content1{
    width:100%;
    height:1000px;
    background-color: white;
  }

.content1_1{

  height: 400px;
  text-align: center;
  font-size: 30px;
  padding: 80px;
  word-spacing: 1px;
  letter-spacing: -1px;
  margin: 0 auto;
  line-height: 14px;
}
.content1_2{
  text-align: center;
  font-size: 80px;
  word-spacing: 1px;
  letter-spacing: -1px;
}
.content1_3{

  height:310px;
  justify-content: center;
   display: flex;
}
.content1_3_1{

  width:300px;
  height: 310px;
  background-color: white;
  line-height: 15px;
  word-spacing: 1px;
  letter-spacing: -1px;
  text-align: left;
  font-size: 18px;
  float: left;
}
.content1_3_2{
  height: 310px;
  width: 300px;
  background-color:white;
  line-height: 15px;
  word-spacing: 1px;
  letter-spacing: -1px;
  text-align: left;
  font-size: 18px;
  float: left;
}
.content1_3_3{
  height: 310px;
  width: 300px;
  background-color: white;
  line-height: 15px;
  word-spacing: 1px;
  letter-spacing: -1px;
  text-align: left;
  font-size: 18px;
  float: left;
}
.content2{
        width:100%;
        height:1380px;
        background-color: #272727;

    }
  /*内容2头部*/
.content2_1{
  width: 100%;
  height: :200px;
  text-align: center;
  font-size: 100px;
  padding-top: 100px;
}
/*内容2导航*/
.content2_2{
  height: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 15px;
}
.content2_2,a{
  margin-left: 40px;
  text-align: center;
  margin-top: 40px;
}

/*图片区*/
.content2_3{
  margin-top: 50px;

  height:310px;
  justify-content: center;
   display: flex;

}
.content2_3_1{
  width:300px;
  height: 400px;
  background-color: #272727;

  text-align: left;
  font-size: 20px;
  float: left;
}
.content2_h2_1{
  font-size: 20px;
  text-align: center;
  word-spacing: 1px;
  letter-spacing: -1px;
}

.content2_p_1{
  text-align: center;
  line-height: 5px;
  word-spacing: 1px;
  letter-spacing: -1px;
}
.content2_3_2{
  height: 400px;
  width: 300px;
  background-color:#272727;
  text-align: left;
  font-size: 20px;
  float: left;
}

.content2_h2_2{
  font-size: 20px;
  text-align: center;
  word-spacing: 1px;
  letter-spacing: -1px;
}

.content2_p_2{
  text-align: center;
  line-height: 5px;
  word-spacing: 1px;
  letter-spacing: -1px;
}
.content2_3_3{
  height: 400px;
  width: 300px;
  text-align: left;
  font-size: 20px;
  float: left;
  background-color: #272727;
}

.content2_h2_3{
  font-size: 20px;
 padding-left: 50px;
  word-spacing: 1px;
  letter-spacing: -1px;
}

.content2_p_3{
  padding-left: 100px;
  line-height: 5px;
  word-spacing: 1px;
  letter-spacing: -1px;
}
/*图片第二栏的代码复用*/

.content2_4{
  margin-top: 50px;
  height:310px;
  justify-content: center;
   display: flex;
}
.content2_4_1{
  width:300px;
  height: 400px;
  background-color: #272727;

  text-align: left;
  font-size: 20px;
  float: left;
}
.content2_h2_4{
  font-size: 20px;
  text-align: center;
  word-spacing: 1px;
  letter-spacing: -1px;
}

.content2_p_4{
  text-align: center;
  line-height: 5px;
  word-spacing: 1px;
  letter-spacing: -1px;
}
.content2_4_2{
  height: 400px;
  width: 300px;
  background-color:#272727;
  text-align: left;
  font-size: 20px;
  float: left;
}

.content2_h2_5{
  font-size: 20px;
  text-align: center;
  word-spacing: 1px;
  letter-spacing: -1px;
}

.content2_p_5{
  text-align: center;
  line-height: 5px;
  word-spacing: 1px;
  letter-spacing: -1px;
}
.content2_4_3{
  height: 400px;
  width: 300px;
  text-align: left;
  font-size: 20px;
  float: left;
  background-color: #272727;
}

.content2_h2_6{
  font-size: 20px;
 padding-left: 50px;
  word-spacing: 1px;
  letter-spacing: -1px;
}

.content2_p_6{
  padding-left: 100px;
  line-height: 5px;
  word-spacing: 1px;
  letter-spacing: -1px;
}

/*按钮链接1*/
.content2_5{

  width: 100%;
  height: 390px;
  font-size: 20px;
  text-align: center;
 padding-top: 200px;
}


.content3{
            width:100%;
            height:1400px;

        }

.content3_1{
  width: 100%;
  height: 150px;
  font-size: 100px;
  text-align: center;
  padding-top: 50px;
}

.content3_2{
  width: 100%;
  height:200px;
}
.content3_2_p1{

font-size: 25px;
height:280px;
text-align: center;
margin: 0 auto;
line-height: 30px;
}

/*第三栏图片区*/
.content3_3{
  margin-top:0px;
  height:310px;

  justify-content: center;
   display: flex;
}
.content3_3_1{
  width:300px;
  height: 350px;
  float: left;
}

.content3_3_2{
  height: 350px;
  width: 300px;
  float: left;
  padding-left: 20px;
}


.content3_3_3{
  height: 350px;
  width: 300px;
  padding-left: 20px;
  float: left;
}


/*图片第四栏的代码复用*/

.content3_4{
  margin-top: 20px;
  height:320px;
  justify-content: center;
   display: flex;
}
.content3_4_1{
  width:300px;
  height: 350px;
  float: left;
}

.content3_4_2{
  height: 350px;
  width: 300px;
  padding-left: 20px;
  font-size: 20px;
  float: left;
}


.content3_4_3{
  height: 350px;
  width: 300px;
  padding-left: 20px;
  float: left;
}




/*按钮链接2*/

.content3_5{

  width: 100%;
  height: 350px;
  font-size: 20px;
  text-align: center;
 padding-top: 100px;

}

/*板块4*/
.content4{
                width:100%;
                height:530px;
                background-color: #272727;
            }
.content4_1{
              width: 200px;
              height: 130px;
              text-align: center;
              font-size: 50px;
              margin:  0 auto;
              padding-top: 80px;

            }
.content4_2{
  width: 550px;
  height: 70px;
  text-align: center;
  font-size: 20px;
margin: 0 auto;

}

/*搜索框*/
.content4_3{
  width: 100%;
  height:250px;
}

.kuan input{width:400px;height:60px;padding:0px;float:left;margin-left: 390px;margin-top: 30px;}
.an input{width:200px;height:60px;padding:0px;background-color:#6A6AFF;margin-top: 30px;margin-left: 10px;}

.footer{
                    width:100%;
                    height:390px;
                    background-color: white;
                  }
.footer_nav{
                    width: 500px;
                    height: 130px;
                    margin: 0 auto;
                    padding-top: 90px;
                  }
.footer_cpr{
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 10px;
}
